<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171540588906-s5j5ckij9j2975817falu6ebsfq6vglh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171540588906-s5j5ckij9j2975817falu6ebsfq6vglh</string>
	<key>API_KEY</key>
	<string>AIzaSyCQLQJnKNRuQPCH6UIuvmoxqWNu03zQIqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>171540588906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mighty.localDeliveryAdmin</string>
	<key>PROJECT_ID</key>
	<string>mighty-68856</string>
	<key>STORAGE_BUCKET</key>
	<string>mighty-68856.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171540588906:ios:e93b70f7717462f0605d13</string>
</dict>
</plist>